{% extends 'base.html'%}
{% block title %}Log in {% endblock%}


{% block body %}

<div class="container">
    <h1 class="text-center logo md-4 ">
        <a href="{% url 'index'%}"> Django Board </a>
    </h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card">
<form method="post" novalidate>
    {%csrf_token%}

<div class="card-body">
    <h3 class="card-title" >log in </h3>
    <input type="hidden" name="next" value="{{next}}">
{% include 'includes/formacc.html'%}
</div>
    <button type="submit" name="submit" class="btn btn-primary btn-block"> SUBMIT </button>
</form>
    <div class="card-footer text-muted text-center ">
       you do not have account ? <a href="{% url 'signup'%} "> sign in </a>
    </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}